{% extends 'base.html' %}
{% block title %}
    Registration
{% endblock %}
{% block content %}
<div class="container">
    <form action="submit_registration.php" method="post">
        <div class="con">
        <h1>User Registration</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="phn">Phone:</label>
        <input type="tel" id="phn" name="phn" pattern="[0-9]{10}">
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="password">Confirm Password:</label>
        <input type="password" id="conpassword" name="conpassword">
        <br>
        <input type="submit" value="Submit">
    </form>
    </div>
</div>
    <style>
         body
        {
            margin: 0;    
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
        .container {
            width: 500px;
            margin: 0 auto;
            text-align: center;
        }

        form {
            min-height: 500px;
            height: auto;
            border-radius: 5px;
            margin: 10% auto;
            box-shadow: 0 9px 50px #D9F9E3;
            padding: 10%;
            background-color: #7dc794;
       }
       form .con {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        label {
            display: block;
            height: 20px;

        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"] {
            width: 90%;
            padding: 10px;
            margin-top: 8px;
            margin-bottom: 20px;
            font-size: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            padding: 15px 40px;
            background-color: #029f14;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        /*////////////////////////*/
        .logo
       {
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: #fff;
        }
        @media screen and (min-width:777px){
            .nav-link {
                padding:18px 0;
                min-width:120px;
            }
            .navbar {
                padding: 0
            }
        }
         .offer
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .top-part{
            position:sticky ;
            top: 0; 
        }
        li{
        list-style-type: none;
        }
        .nav-link{
        color: #383838;
        opacity: 0.5;
        transition: 0.5s;
        font-size: 150%;
        } 
        .nav-link:hover
        {
        opacity: 1;
        }
    </style>
{% endblock %}