{% extends 'baselayout.html' %}

{% block title %}
    Marketpage
{% endblock %}
{% block content %}

    <div class="row" style="margin-top:20px; margin-left:10px;">
        <div class="col-8">
            <h2>Items available in the market</h2>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <!-- table columns -->
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Price</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead> 
                <tbody>
                    <!-- table rows -->
                    {% for item in items %}
                    {% include 'includes/item-modal.html' %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.barcode}}</td>
                            <td>${{item.price}}</td>
                            <td>
                                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-purchase--{{item.id}}">Buy</button>
                                <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo--{{item.id}}">More Info</button>
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table> 
        </div>
        <div class="col-4">
            <h2>Items owned by you</h2>
            <div class="row">
                {% for owned_item in owned_items %}
                {% include 'includes/owned-item-modal.html' %}
                    <div class="col-md-6">
                        <div style="margin-bottom: 6px; margin-right: 5px;" class="card text-center bg-dark">
                            <div class="card-body">
                                <h5 class="card-title"> {{ owned_item.name }} </h5>
                                    <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px" data-toggle="modal" data-target="#Modal-SellConfirm--{{ owned_item.id }}">
                                        Sell
                                    </button>
                                <p class="card-text"><strong>${{owned_item.price}}</strong></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}    
            </div>
        </div>
    </div>   
{% endblock %}