body{
    margin-top:20px;
    background:#ADA2FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body
  {
      margin: 0;
  }
  .logo
  {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  @media screen and (min-width:777px){
      .nav-link {
        padding:18px 0;
        min-width:120px;
      }
      .navbar {
        padding: 0
      }
    }
  .offer
  {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .header{
      position:sticky ;
      top: 0; 
  }
  li{
    list-style-type: none;
  }
  .nav-link{
    color: #383838;
    opacity: 0.5;
    transition: 0.5s;
    font-size: 150%;
  } 
  .nav-link:hover
  {
    opacity: 1;
  }
  #cart {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  #cart table {
    width: 100%;
    border-collapse: collapse;
  }

  #cart th,
  #cart td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  #cart button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  #cart .remove-item {
    background-color: #f44336;
  }

  #checkout-button {
    display: block;
    margin: 20px auto 0;
  }