<style>
    .modal-content{
        background-color: #212121;
    }
</style>

<div class="modal fade" id="Modal-SellConfirm--{{ owned_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!--title-->
                    {{ owned_item.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
                <div class="modal-body">
                    <!-- content -->
                        
                        <form method="POST">
                            {{ selling_form.hidden_tag() }}

                            <h4 class="text-center">Are you sure you wish to Sell {{owned_item.name}}</h4>
                            <br>
                            <input id="sold_item" name="sold_item" type="hidden" value="{{ owned_item.name }}">    <!--obtained from terminal by --print(purchase_form['submit'])---->  
                            {{ selling_form.submit(class="btn btn-outline-danger btn-block")}}
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
 
                </div>
        </div>

    </div>
</div>