{% extends 'base.html' %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
  <div class="container">
        <form method="POST" class="form-checkout" style="color:#029f14;">
        {{form.hidden_tag() }}
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Enter in your details</h1>
        <br>
        {{ form.address.label() }}
        {{ form.address(class="form-control",placeholder="Address")}}
        <br>
        {{ form.cardnumber.label() }}
        {{ form.cardnumber(class="form-control",placeholder="cardnumber")}}
        <br>
        {{ form.cvv.label() }}
        {{ form.cvv(class="form-control",placeholder="CVV")}}
        <br>    
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br><br>
    </form>
  </div>
  <style>
    .top-part{
    position:sticky ;
    top: 0; 
    }
    .logo
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: #fff;
        }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body
    {
        margin: 0;
    }
    @media screen and (min-width:777px){
        .nav-link {
          padding:18px 0;
          min-width:120px;
        }
        .navbar {
          padding: 0
        }
      }
    .offer
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    li{
      list-style-type: none;
    }
    .nav-link{
      color: #383838;
      opacity: 0.5;
      transition: 0.5s;
      font-size: 150%;
    } 
    .nav-link:hover
    {
      opacity: 1;
    }
</style>
{% endblock %}
