{% extends 'base.html' %}
{% block title %}
    Azang
{% endblock %}
{% block title_changes %}
<style>
    .top-part{
    top: 0; 
    }
    .logo
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: #fff;
        }
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body
    {
        margin: 0;
    }
    @media screen and (min-width:777px){
        .nav-link {
          padding:18px 0;
          min-width:120px;
        }
        .navbar {
          padding: 0
        }
      }
    .offer
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    li{
      list-style-type: none;
    }
    .nav-link{
      color: #383838;
      opacity: 0.5;
      transition: 0.5s;
      font-size: 150%;
    } 
    .nav-link:hover
    {
      opacity: 1;
    }
    .dofd-head{
      display: flex;
      justify-content: center;
      margin: 20px 0px;
      font-weight: 700;
      color:red;
    }
    .product-container
    {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth; 
    }
    .product-container::-webkit-scrollbar{
      display: none;
    }
    .products{
      padding: 0 10vw;
      display: flex;
      justify-content: center;
    }
    .product-card{
      width: 196px;
      height: 600px; 
      margin: 0px 20px;
    }
    .product-image{
      position: relative;
      width: 196px;
      height: 350px; 
      overflow: hidden;
      
    }
    .product-thumb{
      width:196px;
      height:350px;
      object-fit: cover;
    }
    .addtocartbtn{
      position: absolute;
      transform: translateX(-50%);
      text-transform: capitalize;
      border: 5px;
      outline: 2px;
      color: black;
      bottom: 5px;
      left: 50%;
      padding: 10px;
      width: 90%;
      border-radius: 5px;
      transition: 0.5s;
      cursor: pointer;
      opacity: 0;
    }
    .product-card:hover .addtocartbtn{
      opacity:1;
    }
    .addtocartbtn:hover{
      background-color: black;
      color: white;
    
    }
    .shoe-specs{
      padding-top:10px;
      height: 100px;
      width: 100%;
    }
    .brand{
      text-transform: capitalize;
      
    }
    .spec{
      width: 100%;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
      opacity: 0.5;
      text-transform: capitalize;
      padding-bottom: 30px;
    }
    .disprice{
      font-weight: 700;
      font-size: 20px;
    }
    .orgprice{
      text-decoration: line-through;
      opacity: 0.5;
      margin-left: 10px;
    }
    </style>
{% endblock %}
{% block content %}
        <div class="offer-template">
            <img class="offer" src="{{url_for('static',filename='@azangstore.jpg')}}" alt="offer template">
        </div>
        <h3 class="dofd-head">DEALS OF THE DAY</h3>
        {% for item in items %}
        {% include 'includes/item-modal.html' %}
          <!--display items in store-->
          <section class="products">
              <div class="product-container">
                <div class="product-card">
                    <div class="product-image">
                        <img src="{{item.url}}" alt="image of {{item.name}}" class="product-thumb" height="350px" width="220px">
                        {{form.hidden_tag()}}
                        <button class="addtocartbtn" data-toggle="modal" data-target="#Modal-purchase--{{item.id}}"> Add To Cart </button>
                    </div>
                    <div class="shoe-specs">
                      <span class="disprice">{{item.price}}</span><span class="orgprice">$99</span>
                      <h2 class="brand">{{item.name}}</h2>
                      <p class="spec">Running Shoes</p>
                      
                    </div>
                </div>
              </div>         
          </section>
        {% endfor %}

{% endblock %}