<style>
    .modal-content{
        background-color:   white;
    }
</style>
<div class="modal fade" id="Modal-confirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!--title-->
                    Order Confirmation
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
                <div class="modal-body">
                    <!-- content -->
                        
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <h4 class="text-center">Are you sure you wish to Confirm the order?</h4>
                            <br>
                            <input id="" name="item_in_cart" type="hidden" value="">    <!--obtained from terminal by --print(purchase_form['submit'])---->  
                            {{ form.submit(class="btn btn-outline-success btn-block")}}
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
 
                </div>
        </div>
    </div>
</div>